@import 'variables';
.New {
  display: flex;
  justify-content: right;
  width: 400px;
  // margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: $color1;
  margin: 50px;
  padding: 20px;
  height: fit-content;
  p {
    margin: 10px;
    justify-content: center;
    background-color: $color2;
    display: flex;
    text-align: center;
    flex-direction: column;
    * {
      text-align: center;
      padding: 10px;
    }
  }
  .intro {
    padding: 10px;
  }
  button {
    background-color: $color2;
    &:hover {
      background-color: white;
    }
  }
}

.logo {
  font-weight: 900;
  font-size: 2rem;
}
