@import 'variables';
.allusers {
  display: flex;
  flex-direction: row;
  // justify-content: space-evenly;
  flex-wrap: wrap;

  .user-content {
    height: fit-content;
    background-color: $color2;
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin: 5px;
    div {
      padding: 5px;
      // margin: 5px;
      background-color: $color1;
    }
  }
}
